@model LoginViewModel
@{
	ViewData["Title"] = "Log in";
}


<h1 class="text-center">@ViewData["Title"]</h1>
<div class="text-center rounded-circle bg-dark bg-opacity-50 w-100">
	<div class="row rounded-pill bg-info bg-opacity-25 ">
		<div class="container col-md-5 rounded-pill bg-dark bg-opacity-50 text-warning text-center">
			<form id="loginForm" method="post">
				<h4>Please enter Email and Password</h4>
				<hr />
				<input type="hidden" asp-for="ReturnUrl" />
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<label asp-for="Email"></label><br />
				<span asp-validation-for="Email" class="text-danger"></span>
				<div class="form-floating">
					
					<input asp-for="Email" class="form-control-sm w-50" autocomplete="username" aria-required="true" />
					

				</div>
				<label class="m-2" asp-for="Password"></label><br />
				<span asp-validation-for="Password" class="text-danger"></span>
				<div class="form-floating">
					
					<input type="password" asp-for="Password" class="form-control-sm w-50" autocomplete="new-password" aria-required="true" />
					
				</div>

				<button id="loginSubmit" type="submit" class="w-25 btn btn-secondary btn-outline-warning rounded-pill">Login</button>

			</form>
		</div>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
