<div class="container collapse collapsing" id="collapseID">
    <div class="card card-body bg-warning bg-opacity-10 rounded-circle">
        <h3><strong>Main rules:</strong></h3>
        <h5>
            ⥽ A random number is generated each time you start a New game.
        </h5>
        <h5>
            Then you have the opportunity to choose position row and a number.
        </h5>
        <h5>
            If the number is present somewhere, the Cow will appear.
        </h5>
        <h5>
            If the number is missing - Bomb will explode.
        </h5>
        <h5>
            If the number is correctly guessed - the Bull will come out and a number will be revealed below.
        </h5>
        <h5>
            Collect all 7 numbers and submit to get your Score points.
        </h5>
        <h5>
            Be faster and you will earn even more points, slow timings will reduce points earned.
        </h5>
        <h5>
            Bombs occurances will lead to further overall points decrease. ⥼
        </h5>

    </div>
</div>
