@using Microsoft.AspNetCore.Identity
@using SecretNumberGame.Data.DataModels
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-dark text-warning btn-outline-secondary rounded-pill">Logout 🔓</button>
        </form>
    </li>
}
else
{
    <li class="btn-group m-0">
            <a class="nav-link btn-group btn-dark text-warning btn-outline-secondary rounded-pill m-1 shadow box-shadow shadow-lg" asp-area="Identity" asp-action="Register" asp-controller="User">Register 🔑</a>
    </li>
    <li class="nav-item">
            <a class="nav-link btn-group btn-dark text-warning btn-outline-secondary rounded-pill m-1 shadow box-shadow shadow-lg" asp-area="Identity" asp-action="Login" asp-controller="User">Login 🔐</a>
    </li>
}
</ul>
